%h1.heading-large
  Do you have a photo licence

  %p.lede Would you like to upload a photo.
  %p.lede We would use this to confirm your identity

= form_tag welcome_upload_photo_option_path do

  .form-group{ class: !@errors.blank? && @errors[:end_user] ? "error" : ""}



    %fieldset
      %legend.visuallyhidden{ id: "login_or_signup" } would you like to login or sign up
      = label_tag nil, class: "block-label selection-button-radio", for: "radio-1" do
        = radio_button_tag :photo, 'login', nil, id: "radio-1"
        Upload a photo
      = label_tag nil, class: "block-label selection-button-radio", for: "radio-2" do
        = radio_button_tag :photo, 'signup', nil, id: "radio-2"
        I don't want to upload a photo

    %br

  .form-group
    %p= submit_tag 'Continue', class: 'button'

:javascript
  $(document).ready(function () {
    // Use GOV.UK selection-buttons.js to set selected
    // and focused states for block labels
    var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']")
    new GOVUK.SelectionButtons($blockLabels) // eslint-disable-line
    // Use GOV.UK shim-links-with-button-role.js to trigger a link styled to look like a button,
    // with role="button" when the space key is pressed.
    GOVUK.shimLinksWithButtonRole.init()
    // Show and hide toggled content
    // Where .block-label uses the data-target attribute
    // to toggle hidden content
    var showHideContent = new GOVUK.ShowHideContent()
    showHideContent.init()
  });
